#clockTime { 
  display: flex;
  min-height: 500px;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: bold;
  font-size: 50px;
}

.fullFormat {
 color: saddlebrown;
 font-size: 40px;
}

.shortFormat {
 color:salmon;
 font-size: 60px;
}

